@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary:#f91e1e;
    --secondary:#561919;
    --light:#666;
    --white:#fff;
    --shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 70.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color: var(--secondary);
    font-size: 2rem;
    padding-bottom: 2rem;
    
}

.heading{
    text-align: center;
    color: var(--primary);
    font-size: 3rem;
    
    text-transform: uppercase;
    padding-top: 1rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--primary);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--secondary);
    letter-spacing: .1rem;
}
.btn2{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.3rem;
    color: #fff;
    background: var(--primary);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 1rem;
}

.btn2:hover{
    background: var(--secondary);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--shadow);
}

header .img-logo{
    width: 170px;
    font-weight: bolder;
}

header .logo{
    color: var(--secondary);
    font-size: 2.5rem;
    width: 11%;
    font-weight: bolder;
}

header .logo i{
    color: var(--primary);
}
header .logo span{
    color: var(--primary);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--primary);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--secondary);
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--primary);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background-color: rgb(0,0,0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--primary);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
    padding-top: 9rem;
}
.swiper {
    width: 100%;
    height: 100%;
  }

.home {
    height: 100%;
}
.home .home-slider .slide .image{
    flex: 0 0 35rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color: var(--primary);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: var(--secondary);
    font-size: 6rem;
}

.home .home-slider .slide .content p{
    color: var(--light);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background: var(--primary)!important;
}

.layanan .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
    /* max-width: 1000px; */
}

.layanan .row .layanan-card {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.layanan .row .layanan-card img {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.layanan .row .layanan-card .layanan-card-tittle {
    font-size: 1.6rem;
    margin: 1rem auto 0.5rem;
}

.tentang .row {
    display: flex;
}

.tentang .row .tentang-img {
    flex: 1 1 45rem;
    margin-top: 5rem;
    overflow: hidden;
    text-align: center;
}

/* .tentang .row .tentang-img img {
    width: 100%;
    -webkit-mask-image: url('../img/splash.svg');
    -webkit-mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
} */

.tentang .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    margin-top: 5rem;
}

.tentang .row .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tentang .row .content p {
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 0.8rem;
    line-height: 1.6;
}

.tentang .row .content p span{
    color: var(--primary);
    font-weight: bold;
}


.testimoni .testimoni-slider{
    padding-bottom: 2rem;
    overflow: hidden;
}
.testimoni .box{
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box_shadow);
    border-radius: .5rem;
}
.testimoni .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.testimoni .box h3{
    color: var(--secondary);
    font-size: 2.5rem;
}
.testimoni .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.testimoni .box .stars i{
    color: var(--primary);
    font-size: 1.7rem;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--secondary);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--primary);
    color: #fff;
}

.dishes .box-container .box .fa-heart{
    right: -15rem;
}

.dishes .box-container .box .fa-eye{
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}

.dishes .box-container .box h3{
    color: var(--secondary);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding: 1rem 0;
}

.dishes .box-container .box .star i{
    font-size: 1.7rem;
    color: var(--primary);
}

.dishes .box-container .box span{
    color: var(--primary);
    font-weight: bolder;
    margin: 1rem;
    font-size: 2.5rem;
}

.footer{
    background: var(--secondary);
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: var(--white);
}
.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
}
.footer .box-container .box a:hover{
    color: var(--primary);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: var(--white);
    border-top: .1rem solid rgba(255, 255, 255, .2);
}
.footer .credit span{
    color: var(--primary);
}


.galeri .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.galeri .box-container .box{
    overflow: hidden;
    box-shadow: var(--box_shadow);
    border: 1rem solid var(--white);
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}
.galeri .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.galeri .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}
.galeri .box-container .box:hover .content{
    top: 0;
}
.galeri .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--primary);
}
.galeri .box-container .box .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}

.kontak .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.kontak .row .image{
    flex: 1 1 35rem;
}
.kontak .row .image img{
    width: 100%;
}
.kontak .row form{
    flex: 1 1  50rem;
    padding: 2rem;
    box-shadow: var(--box_shadow);
    border-radius: .5rem;
}
.kontak .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.kontak .row form .inputBox input, .kontak .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #0c302e;
    background: #f7f7f7;
    text-transform: none;
}
.kontak .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
}







/* ============Laptop============ */
@media (max-width:991px){
    html{
        font-size: 60%;
    }

    header{
        padding: 1rem 2rem;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
}

/* ============Tablet============ */
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    .home .home-slider .slide{
        flex-wrap: wrap;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .home .home-slider .slide .content p{
        font-size: 1.5rem;
    }
}

/* ============Handphone============ */
@media (max-width:450px){
    html{
        font-size: 55%;
    }
    .layanan .row .layanan-card {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    .layanan .row .layanan-card img {
        border-radius: 20%;
        width: 110px;
        height: 110px;
        object-fit: cover;
    }

    .tentang .row {
        flex-wrap: wrap;
    }

    .tentang .row .tentang-img img {
        height: 100%;
        width: 100%;
        /* object-fit: cover; */
        /* object-position: center; */
        text-align: center;
    }

    .tentang .row .content {
        padding: 0;
    }

    .tentang .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .tentang .row .content p {
        font-size: 1.6rem;
    }


}